//Colors

$verydarkblue : hsl(233, 47%, 7%);
$darkdblue: hsl(244, 38%, 16%);
$softviolet: hsl(277, 64%, 61%);


//text color

$white : hsl(0, 0%, 100%);
$main-p: hsla(0, 0%, 100%, 0.75);
$stats-h: hsla(0, 0%, 100%, 0.6);

//text

$font-med: 0.9375rem; //15px

$primfont : 'Inter', 'sans-serif';
$sec_font_family:  'Lexend Deca', 'sans-serif';

